<div class="new-spot medium-6 columns">
  <div class="page-header">
    <%= link_to spots_path, class: 'button' do %>
      <i class="fa fa-arrow-left" aria-hidden="true"></i>
      Back
    <% end %>
    <h1>New spot</h1>
  </div>

  <%= render 'form' %>
</div>
