<% provide(:title, 'FreeSpot | About') %>
<div class="about row align-center">
  <div class="small-12 medium-6 large-4">
    <div class="text-center">
      <i class="fa fa-map-pin fa-4x fa-pulse" id="bigPin" aria-hidden="true"></i>
    </div>

    <h2>About FreeSpot:</h2>
    <p>An App for finding free parking with User Authentication. View our project on <a href="https://github.com/airbr/park4">GitHub</a></p>

    <h4>Created by:</h4>
    <ul id="developersSection">
      <p class="developers">Leslie Hochsztein </br><a href="https://github.com/lhochsz"><i class="fa fa-github fa-2x" aria-hidden="true"></i></a></p>
      <p class="developers">Kirsten Humphreys </br><a href="https://github.com/kirstenhumphreys"><i class="fa fa-github fa-2x" aria-hidden="true"></i></a></p>
      <p class="developers">Morgan Murrah </br><a href="https://github.com/airbr"><i class="fa fa-github fa-2x" aria-hidden="true"></i></a></p>
    </ul>
    <h4>Technologies used:</h4>
    <ul id="technologiesSection">
      <li class="technologies"><a href="https://www.ruby-lang.org/">Ruby 2.3</a><li>
      <li class="technologies"><a href="http://rubyonrails.org/">Rails 5.0</a></li>
      <li class="technologies"><a href="http://www.postgresql.org/">PostgreSQL 9.5</a></li>
      <li class="technologies"><a href="http://foundation.zurb.com/.com/">Foundation</a></li>
      <li class="technologies"><a href="http://sass-lang.com/">SASS 3.4</a></li>
      <li class="technologies"><a href="http://fontawesome.io/">Font Awesome</a></li>
    </ul>
    </br>
  </div>
</div>
