<% provide(:title, 'About') %>
<h2>An App for finding free parking with User Authentication</h2>

<h4>Developers</h4>
<ul>
  <li>Leslie Hochsztein <a href="https://github.com/lhochsz">(Github)</a></li>
  <li>Kirsten Humphreys <a href="https://github.com/kirstenhumphreys">(Github)</a></li>
  <li>Morgan Murrah <a href="https://github.com/airbr">(Github)</a></li>
</ul>
<h4>Technologies include:</h4>
<ul>
  <li><a href="https://www.ruby-lang.org/">Ruby 2.3</a></li>
  <li><a href="http://rubyonrails.org/">Rails 5.0</a></li>
  <li><a href="http://www.postgresql.org/">PostgreSQL 9.5</a></li>
  <li><a href="http://foundation.zurb.com/.com/">Foundation</a></li>
  <li><a href="http://sass-lang.com/">SASS 3.4</a></li>
</ul>
