<% provide(:title, 'About') %>
<h2>An App for finding free parking with User Authentication</h2>
<h4>Technologies include:</h4>
<ul>
  <li><a href="https://www.ruby-lang.org/">Ruby 2.3</a></li>
  <li><a href="http://rubyonrails.org/">Rails 5.0</a></li>
  <li><a href="http://www.postgresql.org/">PostgreSQL 9.5</a></li>
  <li><a href="http://getbootstrap.com/">Twitter Bootstrap 3.3</a></li>
  <li><a href="http://sass-lang.com/">SASS 3.4</a></li>
  <li><a href="https://github.com/decioferreira/bootstrap-generators">bootstrap-generators 3.3</a></li>
</ul>
