/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or any plugin's vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *

 *= require_tree .
 *= require_self
 *= require foundation
 *= require foundation_and_overrides

 */

@import "foundation_and_overrides";
@import "font-awesome-sprockets";
@import "font-awesome";
@import 'https://fonts.googleapis.com/css?family=Raleway:400,800';

// COLOR PALATTE

$gh-blue: #57B8FF;
$gh-darkblue: #12355B;
$gh-yellow: #FFE74C;
$gh-red: #E15554;
$gh-grey: #CEE5F2;

// GENERAL STYLING

h1 {
  font-family: 'Raleway', sans-serif;
}

.page-header {
  padding: 1em;
  margin-left: 1em;
}

.spots {
  th, td {
    text-align:center;
  }
}

a {
  color: black;
}

// NAV BAR STYLING

#example-menu {
  background-color: $gh-yellow;
}

#example-menu ul {
  background-color: $gh-yellow;
}

#example-menu a:hover {
  font-weight: bold;
  color: white;
}


// MY SPOTS PAGE

.spots-content {
  height: 50em;
  overflow: auto;
}

.delete-button {
  background-color: rgba(0, 0, 0, 0);
}

.spots-content i {
  color: red;
}

.signup .signin {
  max-width: 80em;
}

.edit-spot, .spot-page {
  .button {
    margin-top: 1em;
  }
}

// USED TO FIX MOBILE NAV BAR VISIBILITY UPON INITIAL LOADING
.no-js {
  @include breakpoint(small only) {
    .top-bar {
      display: none;
    }
  }

  @include breakpoint(medium) {
    .title-bar {
      display: none;
    }
  }
}
