<%# navigation styled for Foundation 6 %>
<div class="title-bar" data-responsive-toggle="example-menu" data-hide-for="large">
  <button class="menu-icon" type="button" data-toggle></button>
  <div class="title-bar-title">FreeSpot <i class="fa fa-map-pin" aria-hidden="true"></i></div>
</div>

<div class="top-bar" id="example-menu">
  <div class="top-bar-right">
    <ul class="dropdown menu" data-dropdown-menu>
      <li>
        <%= render 'layouts/navigation_links' %>
    </ul>
  </div>
</div>
